
@{
    ViewBag.Title = "Juego1";
}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<h2>Juego1</h2>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px" data-reto1>
    <div class="row">
        <div class="col-lg-6" style="margin:10px">
            <img src="~/Content/assets/img/fig3.jpg" />
        </div>
        <div class="col-lg-6"></div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center"> PRIMER RETO</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig1.jpg" width="300px" height="200px" class="center" />
        </div>
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig2.jpg" width="300px" height="200px" class="center" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-2" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:deepskyblue;  color:white;" data-send href="@Url.Action("Games","MathProblem")">1 + 1 = 2</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:darkorange;  color:white" data-send href="@Url.Action("Games","MathProblem")">2 + 2 = 4</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white" data-send href="@Url.Action("Games","MathProblem")">3 + 3 = 6</a>
        </div>
        <div class="col-lg-2" style="margin-top:5%">
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center;color:white">PRESIONE LA RESPUESTA CORRECTA</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="center">
            <a class="col-lg-12 button small" style="background-color:purple;  color:white" data-next1>
                SIGUIENTE RETO
            </a>
        </div>
    </div>
</div>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px" hidden="hidden" data-reto2>
    <div class="row">
        <div class="col-lg-6" style="margin:10px">
            <img src="~/Content/assets/img/fig3.jpg" />
        </div>
        <div class="col-lg-6"></div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center"> SEGUNDO RETO</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig1.jpg" width="300px" height="200px" class="center" />
        </div>
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig2.jpg" width="300px" height="200px" class="center" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-2" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:deepskyblue;  color:white;" data-send href="@Url.Action("Games","MathProblem")">4 + 4 = 8</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:darkorange;  color:white" data-send href="@Url.Action("Games","MathProblem")">5 + 5 = 10</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white" data-send href="@Url.Action("Games","MathProblem")">6 + 6 = 12</a>
        </div>
        <div class="col-lg-2" style="margin-top:5%">
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center;color:white">PRESIONE LA RESPUESTA CORRECTA</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="center">
            <a class="col-lg-12 button small" style="background-color:purple;  color:white" data-next2>
                SIGUIENTE RETO
            </a>
        </div>
    </div>
</div>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px" hidden="hidden" data-reto3>
    <div class="row">
        <div class="col-lg-6" style="margin:10px">
            <img src="~/Content/assets/img/fig3.jpg" />
        </div>
        <div class="col-lg-6"></div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center"> TERCER RETO</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig1.jpg" width="300px" height="200px" class="center" />
        </div>
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig2.jpg" width="300px" height="200px" class="center" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-2" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:deepskyblue;  color:white;" data-send href="@Url.Action("Games","MathProblem")">7 + 7 = 14</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:darkorange;  color:white" data-send href="@Url.Action("Games","MathProblem")">8 + 8 = 16</a>
        </div>
        <div class="col-lg-1" style="margin-top:5%">
        </div>
        <div class="col-lg-2" style="margin-top:5%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white" data-send href="@Url.Action("Games","MathProblem")">9 + 9 = 18</a>
        </div>
        <div class="col-lg-2" style="margin-top:5%">
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center;color:white">PRESIONE LA RESPUESTA CORRECTA</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="center">
            <a class="col-lg-12 button small" style="background-color:purple; color:white" data-next3 href="@Url.Action("Result","MathProblem")">
                VER RESULTADO
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('[data-next1]').on('click', function () {
            $('[data-reto2]').removeAttr('hidden')
            $('[data-reto1]').prop('hidden', 'hidden')
        });
        $('[data-next2]').on('click', function () {
            $('[data-reto3]').removeAttr('hidden')
            $('[data-reto2]').prop('hidden', 'hidden')
        });
        $('[data-next3]').on('click', function () {
        });
    </script>
}