@model SistemaLudico.ViewModels.MainAdmin.CursoViewModel
@{
    ViewBag.Title = "Cursos";
}

<h2>Curso de material</h2>



<div class="row">

    <div class="col-lg-12">
        <div class="card-box">
            <form>
                <div class="form-group">
                    <label>Filtro por nombre</label>
                   <input class="form-control" placeholder="Buscar"/>
                    <br />
                    <button class="btn btn-danger">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    

    <div class="col-lg-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Nomrbe del curso</th>
                            <th>Archivo word</th>
                            <th>Archivo PDF</th>
                            <th>Archivo Video</th>
                            <th>Fecha de creación</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var contador = 0; }
                        @foreach (var item in Model.LstCurso)
                        {
                            <tr class="@(contador % 2 == 0 ? "" : "table-warning")">
                                <td>@item.Nombre</td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaWord)" style="color:blue" download="">@item.RutaWord</a>
                                </td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaPdf)" style="color:blue" download="">@item.RutaPdf</a>
                                </td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaAudio)" style="color:blue" download="">@item.RutaAudio</a>
                                </td>
                                <td>@item.FechaCreacion.Date</td>
                                <td>
                                    <a class="btn" href="@Url.Action("EditarCurso","MainAdmin", new { CursoId = item.CursoId })"><i class="fa fa-edit" style="color:blue"></i></a>
                                </td>
                            </tr>
                            { contador++; }
                        }
                    </tbody>
                </table>
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>
