@model SistemaLudico.ViewModels.MainAdmin.TemaViewModel
@{
    ViewBag.Title = "Materiales";
}
<h2>Materiales de curso</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <form>
                <div class="form-group">
                    <label>Filtro por nombre</label>
                    <input class="form-control" placeholder="Buscar" />
                    <br />
                    <button class="btn btn-danger">Buscar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Nombre del curso</th>
                            <th>Tema de curso</th>
                            <th>Fecha</th>
                            <th>Archivo word</th>
                            <th>Archivo PDF</th>
                            <th>Archivo Video</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var contador = 0; }
                        @foreach (var item in Model.LstTema)
                        {
                            <tr class="@(contador % 2 == 0 ? "" : "table-success")">
                                <td>@item.Curso.Nombre</td>
                                <td>@item.Nombre</td>
                                <td>@item.FechaCreación</td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaWord)" style="color:blue" download="">@item.RutaWord</a>
                                </td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaPdf)" style="color:blue" download="">@item.RutaPdf</a>
                                </td>
                                <td>
                                    <a class="btn" href="@Url.Content(item.RutaAudio)" style="color:blue" download="">@item.RutaAudio</a>
                                </td>
                                <td>
                                    <a class="btn" href="@Url.Action("EditarMaterial","MainAdmin", new { TemaId = item.TemaId })"><i class="fa fa-edit" style="color:blue"></i></a>
                                </td>
                            </tr>
                            { contador++; }
                        }
                    </tbody>
                </table>
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>     