@model SistemaLudico.ViewModels.MainStudent.GameViewModel
@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px">
    <div class="row">
        <div class="col-lg-1" style="margin-top:20%">
        </div>
        @{ var contador = 0;}
        @foreach (var item in Model.ListLevelBIA)
        {
            if (@contador % 2 == 0)
            {
                <div class="col-lg-2" style="margin-top:22%">
                    <a class="col-lg-12 button small" style="background-color:blue;  color:white;" data-send href="@Url.Action(item.Juego.Action, item.Juego.Controller, new { TemaId = Model.TemaId, LevelGame = item.LevelGame })">JUEGO @item.LevelGame</a>
                </div>
            }
            else
            {
                <div class="col-lg-2" style="margin-top:38%">
                    <a class="col-lg-12 button small" style="background-color:blue;  color:white" data-send href="@Url.Action(item.Juego.Action, item.Juego.Controller, new { TemaId = Model.TemaId, LevelGame = item.LevelGame })">JUEGO @item.LevelGame</a>
                </div>
            }
            contador++;
        }
        <div class="col-lg-1" style="margin-top:20%">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1" style="margin-top:20%">
        </div>
        <div class="col-lg-2" style="margin-top:12%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white;" data-send href="@Url.Action("Level","MathOperation")">ATRAS</a>
        </div>
        <div class="col-lg-2" style="margin-top:12%">
        </div>
        <div class="col-lg-2" style="margin-top:12%">
        </div>
        <div class="col-lg-2" style="margin-top:12%">
        </div>
        <div class="col-lg-2" style="margin-top:12%">
            @if (Model.ActivateCalificacion) {
            <a class="col-lg-12 button small" style="background-color:yellow;  color:black;" data-send href="@Url.Action("ResultByTopic", "MathOperation", new { JuegoId = Model.JuegoId, LevelBIA = Model.LevelBIA })">CALCULAR PUNTAJE FINAL</a>
            }
        </div>
    </div>
</div>
