
@{
    ViewBag.Title = "avatar/contentPersonaje";
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/assetsAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assetsAdmin/css/app.min.css" rel="stylesheet" />
    <style>
    
        .center {
            display: block;
            margin-left: 35%;
            margin-right: auto;
            width: 40%;
        }
        .centervertical {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-30%);
            transform: translateY(-30%);
        }
        .fondo {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        body, html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>

    <div class="fondo" style="background-image: url('@Url.Content("../../Content/assets/img/Fondos/Fondo_Login.png")');">
        <div class="col-lg-12" style="text-align: center;padding: 1rem;">
            <label class="card-box" style="font-size:40px;margin-top:100px; font-weight:bold; color:black">PERSONALIZA TU AVATAR</label>
        </div>

        <div class="col-lg-12 centervertical">

            <div class="row">
                <div class="col-xl-6">
                    <div class="card-box">
                        <canvas class="center" id="canvas" style="height: 239px !important; width: 500px !important;"></canvas>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card-box">
                        <input type="hidden" id="colores" />
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#rostro" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                    ROSTRO
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#ojo" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    OJO
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#pelo" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    PELO
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#boca" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    BOCA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#gafas" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    GAFAS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#bigote" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    BIGOTE
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#barba" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    BARBA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#cejas" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    CEJAS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#nariz" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    NARIZ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#accesorios" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    ACCESORIOS
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="avatar">
                            <div class="tab-pane show active" id="rostro">
                                <div id="Rostro">
                                    <img src="~/Content/assets/avatar/1_piel/1.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="ojo">
                                <div id="Ojos">
                                    <img src="~/Content/assets/avatar/2_ojos/1.png" />
                                    <img src="~/Content/assets/avatar/2_ojos/2.png" />
                                    <img src="~/Content/assets/avatar/2_ojos/3.png" />
                                    <img src="~/Content/assets/avatar/2_ojos/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="pelo">
                                <div id="Pelo">
                                    <img src="~/Content/assets/avatar/4_pelo/1.png" />
                                    <img src="~/Content/assets/avatar/4_pelo/2.png" />
                                    <img src="~/Content/assets/avatar/4_pelo/3.png" />
                                    <img src="~/Content/assets/avatar/4_pelo/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="boca">
                                <div id="Boca">
                                    <img src="~/Content/assets/avatar/3_boca/2.png" />
                                    <img src="~/Content/assets/avatar/3_boca/1.png" />
                                    <img src="~/Content/assets/avatar/3_boca/3.png" />
                                    <img src="~/Content/assets/avatar/3_boca/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="gafas">
                                <div id="Gafas">
                                    <img src="~/Content/assets/avatar/5_gafas/1.png" />
                                    <img src="~/Content/assets/avatar/5_gafas/2.png" />
                                    <img src="~/Content/assets/avatar/5_gafas/3.png" />
                                    <img src="~/Content/assets/avatar/5_gafas/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="bigote">
                                <div id="Bigote">
                                    <img src="~/Content/assets/avatar/6_bigote/1.png" />
                                    <img src="~/Content/assets/avatar/6_bigote/2.png" />
                                    <img src="~/Content/assets/avatar/6_bigote/3.png" />
                                    <img src="~/Content/assets/avatar/6_bigote/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="barba">
                                <div id="Barba">
                                    <img src="~/Content/assets/avatar/7_barba/1.png" />
                                    <img src="~/Content/assets/avatar/7_barba/2.png" />
                                    <img src="~/Content/assets/avatar/7_barba/3.png" />
                                    <img src="~/Content/assets/avatar/7_barba/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="cejas">
                                <div id="Cejas">
                                    <img src="~/Content/assets/avatar/8_cejas/1.png" />
                                    <img src="~/Content/assets/avatar/8_cejas/2.png" />
                                    <img src="~/Content/assets/avatar/8_cejas/3.png" />
                                    <img src="~/Content/assets/avatar/8_cejas/4.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="nariz">
                                <div id="Nariz">
                                    <img src="~/Content/assets/avatar/91_nariz/1.png" />
                                    <img src="~/Content/assets/avatar/91_nariz/2.png" />
                                    <img src="~/Content/assets/avatar/91_nariz/4.png" />
                                    <img src="~/Content/assets/avatar/91_nariz/3.png" />
                                </div>
                            </div>
                            <div class="tab-pane" id="accesorios">
                                <div id="Accesorios">
                                    <img src="~/Content/assets/avatar/92_accesorios/1.png" />
                                    <img src="~/Content/assets/avatar/92_accesorios/2.png" />
                                    <img src="~/Content/assets/avatar/92_accesorios/3.png" />
                                    <img src="~/Content/assets/avatar/92_accesorios/4.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12" style="text-align: center;padding: 1rem;">
                <a  id="Descargar" data-save class="btn btn-success width-lg" style="color:black;width: 400px;height: 100px;padding-top: 20px;font-size: 40px;">GUARDAR</a>
            </div>
        </div>
        <br />
        
    </div>
    <script src="@Url.Content("~/Content/assets/avatar/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Content/assetsAdmin/js/vendor.min.js")"></script>
    <script src="@Url.Content("~/Content/assetsAdmin/js/app.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/avatar/Cubexy.js")"></script>

    <script>
        $('#avatar').Cubexy();
        $('[data-save]').on('click', function () {
            var can = document.getElementById('canvas');
            var ctx = can.getContext('2d');

            var img = new Image();
            img.src = can.toDataURL();
        });

        $("[data-save]").click(function () {
            var image = document.getElementById("canvas").toDataURL("image/png");
            image = image.replace('data:image/png;base64,', '');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("saveImage", "MainStudent")',
                data: '{ "imageData" : "' + image + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (msg) {
                    alert('Image saved successfully !');
                    window.location.href = "http://localhost:53995/MainStudent/Avatar";
                }
            });
        });
    </script>
</body>
</html>