@model SistemaLudico.ViewModels.MainStudent.TemaViewModel
@{
}



<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .fondo {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .centervertical {
        margin: 0;
        position: absolute;
        top: 30%;
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    [data-style] {
        font-size: 20px;
        font-weight: bold;
        color: black
    }
</style>

<div class="fondo" style="background-image: url('@Url.Content("../../Content/assets/img/Fondos/Fondo_Temas.jpg")');">

    <div class="row">
        <div class="row col-lg-12 centervertical" style="margin-top:100px">
            <div class="col-lg-4">
                <img src="@Url.Content("~/Content/assets/img/gift/1.gif")" style="display: block;margin-left: auto;margin-right: auto;width:250px;height:350px" />
            </div>
            <div class="col-lg-8">
                <video controls="controls" width="920" height="400" id="video">
                    <source src="@Url.Content(Model.Tema.LinkYoutube)" type="video/mp4" />
                </video>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="col-lg-6 button small" data-style style="background-color:red; color:white;font-size: 20px;font-weight: bold;" href="@Url.Action("Temas", "MainStudent", new { CursoId = Model.Tema.CursoId })">ATRAS</a>
                    </div>
                    <div class="col-lg-6">
                        <a class="col-lg-6 button small" data-style id="play-video" data-start-class style="background-color:orange; color:white;font-size: 20px;font-weight: bold;">INICIAR CLASE</a>
                        @if (Model.Tema.TemaId != 3)
                        {
                            <a class="col-lg-8 button small" data-style data-start-example style="background-color:cadetblue; color:white;font-size: 20px;font-weight: bold;" href="@Url.Action("Level", Model.Tema.Controller, new { TemaId = Model.Tema.TemaId })" hidden="hidden">EXPLICACIÓN EJEMPLO</a>
                        }
                        else
                        {
                            <a class="col-lg-8 button small" data-style data-start-example style="background-color:cadetblue; color:white;font-size: 20px;font-weight: bold;" href="@Url.Action("Question1", "MathProblem", new { TemaId = Model.Tema.TemaId })" hidden="hidden">EXPLICACIÓN EJEMPLO</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('[data-start-class]').on('click', function () {
            $('[data-start-example]').removeAttr('hidden', 'hidden');
            $('video').trigger('play');
            $('[data-start-class]').prop('hidden', 'hidden');
        });
    </script>
}
